<p id="notice"><%= notice %></p>
<h1>New Course Question</h1>

<%= render 'form', course_question: @course_question %>
<%= link_to 'view_teacher_cources', view_teacher_cources_path %>|
<%= link_to 'Back', course_questions_path %>
