<!--<h1>Qp Comments</h1>-->

<!--<table class="responsive nowrap table table-hover" id="dttb-qp_comments" data-sort="true" data-source="<%#= url_for(format: :json)%>">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th data-data="comment">Comment</th>-->
<!--      <th data-data="status">Status</th>-->
<!--      <th data-data="question_paper">Question paper</th>-->
<!--      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--</table>-->

<!--<br>-->

<%#= link_to 'New Qp Comment', new_qp_comment_path %>


<table class="table table-bordered">
  <thead>
  <tr>
    <th>comment</th>
    <th>status</th>
    <th>created at</th>
  </tr>
  </thead>
  <tbody>

  <% @qp_comments.each do |cmt| %>
  <tr>
    <td><%=cmt.comment%></td>
    <td><%=cmt.status%></td>
    <td><%=cmt.created_at%></td>

  </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'back', teachers_path %>