<!--<p id="notice"><%#= notice %></p>-->
<br><br>
<table class="table table-bordered">

    <th>
      <strong>Name:</strong>
    </th>
    <td>
      <%= @board.name %>
    </td>



</table>




<div class="btn-group">
  <%= link_to 'Edit', edit_board_path(@board),class: 'btn btn-success' %>
  <%= link_to 'Back', boards_path ,class: 'btn btn-info' %>
</div>



